*
{
				box-sizing: border-box;
				
}
.navbar
{
				font-family: 'Lato', sans-serif;
				height: 80px;
}
.navbar-nav
{
	font-size:20px;
	margin:0 40px;
	
}
.float-right
{
	float: right;
}
.orange
{
	color: rgb(255, 196, 0);
}

/* body
{
				margin: 0;
				padding: 0;
				min-height:100vh;
				overflow: hidden;				
				background-image: url('H6.jpg');
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;    
				overflow-x: hidden;
				overflow-y: hidden;
				
}

form
{
				margin: 0 auto;
				position: absolute;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
				color: white;
				width: 80%;
				margin-top: 40px;
}
input
{
				border: none;
				background: transparent;
				border:1px solid white;
				color: white;
				width:20%;
				
				
}
label{
	color: white;
	margin-right: 20px;
}
.wrap
{
	width: 100%;
	
}
input[type=date]{
	margin-right: 60px;
} */